{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-external-helpers",
    ["module-resolver", {
      "alias": {
        "@": ""
      },
      "loglevel": "silent"
    }]
  ]
}